* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../assets/background-image/body-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.upper {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.navs-icon {
  display: flex;
  padding-top: 15px;
}
.logo {
  margin-left: 4%;
  color: white;
  font-family: JetBrains Mono;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  cursor: pointer;
}

.navs-icon .logo img {
  height: 39px;
}
.navigations {
  display: flex;
  font-family: JetBrains Mono;
  width: 40%;
}
.buttons button {
  background-color: #0052cc;
  color: white;
  font-family: JetBrains Mono;

  font-size: 15px;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
  width: 40%;
}
.buttons a {
  text-decoration: none;
  color: white;
}
.buttons button:hover {
  opacity: 0.5;
}
.buttons button:active {
  background-color: red;
  color: black;
  border: 3px solid white;
}
.buttons {
  display: flex;
  gap: 20px;
}

.navigations ul {
  font-size: 15px;
  gap: 20px;
  display: flex;
  list-style-type: none;
  color: white;
}
.navigations ul .header-links {
  padding: 10px;
  border-radius: 15px;
}
.navigations li:hover {
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.intro-icons {
  display: flex;
  font-family: JetBrains Mono;
  flex-direction: column;
  gap: 10px;
  padding: 10%;
}
.greet-name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.greet h3 {
  font-size: 30px;
  font-weight: normal;
}
.greet-name h1 {
  font-size: 50px;
  color: #ffd700;
}
.name p {
  font-size: 30px;
}
.name {
  display: flex;
  flex-direction: column;
}
.profile-holder {
  display: flex;
  justify-content: center;
}
.profile img {
  height: 300px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
.middle {
  font-family: JetBrains Mono;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me h2 {
  font-size: 50px;
  color: #ffd700;
}
.statement {
  display: flex;
  text-indent: 40px;
  text-align: center;
}
.statement p {
  font-size: 30px;
}
.content-middle {
  display: flex;
  flex-direction: column;
  padding: 8%;
  gap: 15px;
  color: white;
  text-align: center;
}
.lower-middle {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.projects {
  display: flex;
  gap: 15px;
  width: 90%;
}
.project-header h2 {
  color: #ffd700;
  font-size: 50px;
  font-family: JetBrains Mono;
}
.proj-header {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}
.proj {
  height: 500px;
  background: black;
  width: 565px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
#project-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.proj-desc1 h3 {
  font-size: 17px;
  font-weight: normal;
  text-indent: 10px;
}
.project-image1 {
  background: url("../assets/background-image/bmi-calculator.png");
  padding: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.proj-desc1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Fira Code;
  gap: 20px;
  text-align: center;
}
.proj-desc1 p {
  font-size: 13px;
  color: #b0b0b0;
  font-family: JetBrains Mono;
  text-indent: 10px;
  text-align: center;
}
.paragraph-control {
  display: flex;
}
.technologies {
  font-family: JetBrains Mono;
  color: white;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tech {
  background-color: black;
  width: 80px;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  border: 1px solid white;
}
.github-link {
  background-color: white;
  display: flex;
  width: 50px;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #ffd700;
}
.github-link img {
  height: 40px;
}
#project-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-image2 {
  background: url("../assets/background-image/landing-page.png");
  padding: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.proj-desc2 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Fira Code;
  gap: 20px;
  text-align: center;
}
.proj-desc2 h3 {
  font-size: 17px;
  font-weight: normal;
  text-indent: 10px;
}
.proj-desc2 p {
  font-size: 13px;
  color: #b0b0b0;
  font-family: JetBrains Mono;
  text-indent: 10px;
  text-align: center;
}
#project-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-image3 {
  background: url("../assets/background-image/calculator-website.png");
  padding: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.skills h2 {
  color: #ffd700;
  font-size: 50px;
  font-family: JetBrains Mono;
}
.skilled {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.skilled-with {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: JetBrains Mono;
  color: white;
  gap: 20px;
}
.languages {
  padding: 9%;
}
.skilled img {
  height: 50px;
}
.currently-learning {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.learning {
  font-family: JetBrains Mono;
  color: white;
  display: flex;
  gap: 50px;
}
.learning img {
  height: 60px;
}
.message-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
  width: 800px;
  gap: 20px;
}
.lets-talk {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: JetBrains Mono;
}
.lets-talk h2 {
  font-size: 60px;
}
.lets-talk p {
  font-size: 30px;
}
.button-touch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-touch a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button-touch a :hover {
  opacity: 0.5;
}
.button-touch button {
  background-color: black;
  padding: 12px;
  color: white;
  width: 80%;
  font-size: 20px;
  font-family: JetBrains Mono;
  border: 1px solid gold;
  border-radius: 10px;
}
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-content img {
  height: 40px;
}
.footer-content h3 {
  padding: 20px;
  font-family: Fira Code;
  font-weight: normal;
  font-size: 15px;
}
.footer-content {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
