* {
  margin: 0;
  padding: 0;
}
body {
  background: url("../assets/background-image/body-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.upper {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}
.navs-icon {
  display: flex;
  padding-top: 15px;
}
.logo {
  margin-left: 4%;
  color: white;
  font-family: JetBrains Mono;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  cursor: pointer;
}

.navs-icon .logo img {
  height: 39px;
}
.navigations {
  display: flex;
  font-family: JetBrains Mono;
  width: 40%;
}
.buttons button {
  background-color: #0052cc;
  color: white;
  font-family: JetBrains Mono;
  border-radius: 15px;
  font-size: 15px;
  padding: 13px;
  border: 2px solid white;
  cursor: pointer;
  width: 30%;
}
.buttons a {
  text-decoration: none;
  color: white;
}
.buttons button:hover {
  opacity: 0.5;
}
.buttons button:active {
  background-color: red;
  color: black;
  border: 3px solid white;
}
.buttons {
  display: flex;
  gap: 20px;
}

.navigations ul {
  font-size: 15px;
  gap: 20px;
  display: flex;
  list-style-type: none;
  color: white;
}
.navigations ul .header-links {
  padding: 10px;
  border-radius: 15px;
}
.navigations li:hover {
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.intro-icons {
  display: flex;
  font-family: JetBrains Mono;
  flex-direction: column;
  gap: 10px;
  padding: 10%;
}
.greet-name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.greet h3 {
  font-size: 30px;
  font-weight: normal;
}
.greet-name h1 {
  font-size: 50px;
  color: #ffd700;
}
.name p {
  font-size: 30px;
}
.name {
  display: flex;
  flex-direction: column;
}
.profile-holder {
  display: flex;
  justify-content: center;
}
.profile img {
  height: 300px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
}
.middle {
  font-family: JetBrains Mono;
  background: url("../assets/background-image/about-me-back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me h2 {
  font-size: 50px;
}
.statement {
  display: flex;
  text-indent: 40px;
  text-align: center;
}
.statement p {
  font-size: 30px;
}
.content-middle {
  display: flex;
  flex-direction: column;
  padding: 7%;
  gap: 15px;
  color: white;
  text-align: center;
}
